body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    padding: 4rem 0 4rem 0;
    background: linear-gradient(to bottom right, rgb(18, 18, 68),rgb(46, 12, 59));
}


.name{
    color: rgb(0, 140, 255);
}


.about{
    padding: 4rem 0 4rem 0;
    height: max-content;
    width: 100%;
    background: linear-gradient(to top left, rgb(18, 18, 68),rgb(46, 12, 59));
}

.skills{
    padding: 4rem 1rem;
    height: max-content;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(18, 18, 68),rgb(46, 12, 59));
}

.skills > .container > .row:nth-child(2) > .col-md-8 > .navbar{
    background-color: rgba(4, 4, 185, 0.274); 
    border: 1px solid rgb(9, 9, 185); 
    border-radius: 20px;
}

    .skills > .container > .row:nth-child(2) > .col-md-8 > .navbar > .container > a{
        display: none;
    }

.skills > .container > .row:nth-child(2) > .col-md-8 > .navbar > .container > .collapse > .navbar-nav{
    gap: 5rem; 
    margin: auto;
}

.skills > .container > .row:nth-child(3) > .col-md-12{
    position: relative;
    max-height: 500px;
    display: flex;
}

.skills > .container > .row > .col-md-12 > .card {
    border-radius: 20px;
    background-color: rgba(4, 4, 185, 0.274);
    border: 1px solid rgb(9, 9, 185);
    opacity: 0;
    transform: translateX(-9999px);
    transition: all 1s ease-in-out;
}

.skills > .container > .row > .col-md-12 > .card.active {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 1;
    top: 0;
    transform: translateX(0);
}

.education{
    padding: 4rem 0 4rem 0;
    height: max-content;
    min-height: 100vh;
    /* position: relative; */
    width: 100%;
    background: linear-gradient(to top left, rgb(18, 18, 68),rgb(46, 12, 59));
}

.animasi{
    
    /* display: none; */
    position: relative;
    transform:translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}



.animasi.active{
    
    transform: translateY(0px);
    opacity: 1;
}


.modal{
    color: black;
}


footer{
    padding: 4rem 0 4rem 0;
    background-color: rgb(0, 0, 51);
    text-align: center;
}



footer > .container > .row:nth-child(1) > .col-md-12 > a{
    color: white;
    font-size: 30px;
    margin-left: 1rem;
}

footer > .container > .row:nth-child(1) > .col-md-12 > a:hover{
    color:  rgba(0, 162, 255, 0.616);
    transition: 300ms ease-in-out;
}


@media screen and (max-width: 440px) {
    .hero{
        padding-top: 5.5rem;
    }

    .skills > .container > .row:nth-child(2) > .col-md-8 > .navbar > .container > .collapse > .navbar-nav{
        gap: 0;
        margin: 1;
    } 

    .skills > .container > .row:nth-child(2) > .col-md-8 > .navbar > .container > a{
        display: block;
    }

    .skills > .container > .row:nth-child(3) > .col-md-12{
        max-height: 1000px;
    }

    .education{
        height: max-content;
    }

}